import json
import os
from neo4j import GraphDatabase

driver = GraphDatabase.driver(
            os.environ["URI"], auth=(os.environ["USERNAME"], os.environ["PASSWORD"])
        )

{{func}}

def lambda_handler(event, context):
    
    resp = {{func_name}}(
        {% for arg in args %}
        {{arg}} = event['{{arg}}'],
        {% endfor %}
    )

    return {
        "statusCode": 200,
        "body": json.dumps(resp),
        "headers": {"content-type": "application/json"},
    }